.alert {
  padding: .1rem+$lh/2 .75*$lh $lh/2 $lh/2;
  color: $black;
  font-size: 1.8rem;
  margin-bottom: $lh/2;
  width: 100%;
  transform: translateX(0);
  transition: transform .4s ease;
  color: $black;
  min-height: 50px;
  &--success {
    background: $green-light;
    .icon {
      border-right: 2px solid #000;
      border-bottom: 2px solid #000;
      content : '';
      width: 6px;
      height: $lh/2;
      display: inline-block;
      transform: rotateZ(45deg);
      margin-right: $lh/2;
      margin-left: $lh/4;
      position: relative;
      top: -2px;
    }
  }
  &--error {
    background: $pink;
  }
  &--warning {
    background: $yellow-dark;
  }
  &--shadow {
    border-radius: 2px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.32), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  &--offscreen {
    transform: translateX(200%);
  }
  &--textCentre {
    text-align: center;
  }
  span {
    cursor: pointer;
    text-decoration: underline;
  }
  &__action-rotate {
    text-decoration: none !important;
    font-size: $lh;
    margin: -$lh/2 0 -$lh/2 -$lh/2;
    width: 48px;
    height: 48px;
    //transform: rotateZ(0);
    transition: transform 0.25s ease;
    &:hover {
      //transform: rotateZ(90deg);
    }
  }
}