{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="auth-page d-flex align-items-center">
        <div class="container-fluid">
            <div class=" padding--right--0-5 padding--left--0-5">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="auth-container">
                            <div class=" padding--top--2 padding--right--2 padding--bottom--2 padding--left--2 mobile-padding--top--1 mobile-padding--right--1 mobile-padding--bottom--1 mobile-padding--left--1">
                                <h1>Leaving Well</h1>
                                <div class="box">
                                    <form method="post">{% csrf_token %}
                                        <label class="form-element form-element--text-field undefined">
                                            <span class="form-element__label">Email Address</span>
                                            <input class="form-element--text-field__input" type="email" name="username" required="" value="" />
                                        </label>
                                        <label class="form-element form-element--text-field undefined">
                                            <span class="form-element__label">Password</span>
                                            <input class="form-element--text-field__input" type="password" name="password" required="" value="">
                                            <span class="form-element__toggle-show-password">
                                                <svg width="24" height="24" viewBox="0 0 48 48">
                                                    <path d="M0 0h48v48H0z" fill="none"></path>
                                                    <path d="M24 9C14 9 5.46 15.22 2 24c3.46 8.78 12 15 22 15 10.01 0 18.54-6.22 22-15-3.46-8.78-11.99-15-22-15zm0 25c-5.52 0-10-4.48-10-10s4.48-10 10-10 10 4.48 10 10-4.48 10-10 10zm0-16c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6z"></path>
                                                </svg>
                                            </span>
                                        </label>
                                        <div class=" padding--top--1 mobile-padding--top--0-5">
                                            <button type="submit" class="button button--primary">Login</button>
                                            <button type="button" style="display: block; padding: 0px; border: none; background: none;"></button>
                                        </div>
                                        <div class=" padding--top--1 mobile-padding--top--0-5">
                                            <a class="link" href="/forgot-password">I forgot my password</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}