.updates{
  &__date-group-title{
    text-align: left;
    color: $grey-dark;
  }
}

.review-link {
  margin: 0 auto;
}

.update-group {
  border-top: 1px solid $grey-light;

  &:last-child{
    /*border-bottom: 1px solid $grey-light;*/
  }

  &__title {
    @include media-breakpoint-up(sm) {
      padding-bottom: $lh/4;
    }

    strong {
      font-weight: 500;
    }
  }

  &__update-remove {
    display: block;
    float: left;
    margin: -2px 8px 0 0;

    @include media-breakpoint-down(sm) {
      margin-top: -8px;
    }

    svg {
      path {
        fill: $grey-mid;
      }
    }
  }

  &__avatar {
    float: left;
    display: block;
  }

  &__title-review {

    @include media-breakpoint-up(md) {
      flex: 0 0 140px;
      text-align: right;
    }
  }

  &__item {
    padding-bottom: $lh/3;
  }

  &__item-controls{
    flex: 0 0 60px;
    padding: 0;
  }
}

.confirm-modal {
  width: 90%;
  max-width: 640px;
  // padding: $lh;
  border-color: transparent !important;
  // @include media-breakpoint-up(sm) {
  //   padding: $lh * 2;
  // }
  .badge__remove-btn {
    right: 10px;
  }
}