$dropShadow: 0 0 5px #CCC;
$border: 0px solid transparent;
$position: 50px; //arrowloc
$size: 20px; //arrowsize
$offset: 14px; //arrowdiag

$width: 220px;
$height: 100px;

@mixin arrow() {
  background-color: $white;
  position: absolute;
  left: $width/2 ;
  width: $size;
  height: $size;
  transform: rotate(45deg);
  top: -$size/2;
  border: $border;
  margin-left: -14.4px;
}


.header-dropdown {
  position: absolute;
  width: $width;
  min-height: $height;
  top: 30px;
  right: $lh/4;
  z-index: 1000;

  .empty-button {
    outline: none;
  }

  &__content {
    background-color: $white;
    border: $border;
    box-shadow: $dropShadow;
    position: relative;
    display: inline-block;
    padding: 0;  // must be at least $arrow-diag
    min-width: $width; // must be at least $arrow-loc
    height: 100%;

    @include media-breakpoint-down(sm) {
      top: 10px;
    }

    a {
      padding: 6px $offset;
      color: $grey-dark;
      width: 100%;
      display: block;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        text-decoration: none;
        background-color: $grey-xlight;
      }
    }

    p {
      padding: 0;
      border-bottom: 1px solid $grey-light;
      font-size: 1.6rem;
      font-weight: 300;
      position: relative;

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }

    }
  }
}

.header-dropdown-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
}