.nav {
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: $lh/4 0;
      margin: 0;
      list-style: none;
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }
  &__element {
    display: block;
    color: $white;
    line-height: $lh*1.5;
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: $lh;
    padding-right: $lh*.75;
    padding-left: $lh;
    border-bottom-right-radius: $lh*1.5;
    border-top-right-radius: $lh*1.5;
    white-space: nowrap;
    @include media-breakpoint-down(sm) {
      line-height: $lh*2;
    }
    svg {
      margin-top: -3px;
      margin-right: 9px;
    }
    path {
      fill: $white;
    }
    &:hover {
      text-decoration: none;
      color: rgba($white,.75);
      path {
        fill: rgba($white,.75);
      }
    }
    &--active {
      background: $green;
      color: $grey-xdark;
      path {
        fill: $grey-xdark;
      }
    }

    &__home {
      letter-spacing: 0.03rem;
    }

  }

  &__title {
    display: block;
    color: $white;
    line-height: $lh*2;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: none;
    svg {
      margin-top: -3px;
      margin-right: 9px;
    }
    path {
      fill: $white;
    }
  }

}

a.nav__title {
  display: block;
  color: $white;
  line-height: $lh*2;
  font-size: 1.9rem;
  font-weight: 500;
  text-transform: none;
  &:hover {
    text-decoration: none;
    color: rgba($white,.75);
  }
}