@for $i from 0 through 40 {
  .padding--top--#{str-replace(inspect($i/4), '.', '-')} {
    padding-top: $i/4*$lh;
  }
  .padding--right--#{str-replace(inspect($i/4), '.', '-')} {
    padding-right: $i/4*$lh;
  }
  .padding--bottom--#{str-replace(inspect($i/4), '.', '-')} {
    padding-bottom: $i/4*$lh;
  }
  .padding--left--#{str-replace(inspect($i/4), '.', '-')} {
    padding-left: $i/4*$lh;
  }
  @include media-breakpoint-down(sm) {
    .mobile-padding--top--#{str-replace(inspect($i/4), '.', '-')} {
      padding-top: $i/4*$lh !important;
    }
    .mobile-padding--right--#{str-replace(inspect($i/4), '.', '-')} {
      padding-right: $i/4*$lh !important;
    }
    .mobile-padding--bottom--#{str-replace(inspect($i/4), '.', '-')} {
      padding-bottom: $i/4*$lh !important;
    }
    .mobile-padding--left--#{str-replace(inspect($i/4), '.', '-')} {
      padding-left: $i/4*$lh !important;
    }
  }
}