.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 2*$lh;
  height: 100vh;
  //display: none;
  z-index: 20;
  width: 100%;
  transform: translateX(-100%);
  transition: transform .25s ease;

  &__open {
    display: block;
    transform: translateX(0);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  @include media-breakpoint-up(md) {
    transform: translateX(0);
    top: 0;
    width: 25%;
    display: block;
    position: fixed;
    padding-top: 0;
  }

  @include media-breakpoint-up(xl) {
    width: 16.666666%
  }
}

// body with sidebar open...

.body--sidebar-open {
  overflow-y: hidden;

  @include media-breakpoint-up(md) {
      overflow-y: auto;
    }
}