.button{
  padding: (9px) ($lh);
  min-width: ($lh * 6 );
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: ($lh/6);
  border: 2px solid transparent;
  cursor: pointer;
  @include media-breakpoint-only(xs) {
    width: 100%;
    padding-top: $lh/4;
    padding-bottom: $lh/4;
  }
  &--narrow {
    min-width: 0;
    padding-left: $lh/2;
    padding-right: $lh/2;
  }

  &--primary {
    background: $brown;
    color: $white;
    border: 2px solid transparent;
    transition: background .2s ease-in-out;

    &:disabled {
      background: $brown-light;
      color: $white;
      cursor: default;
      text-decoration: none;
  
      &:hover {
        text-decoration: none;
        background: $brown-light;
      }

    }

    &:hover {
      color: $white;
      text-decoration: none;
      background: $brown-dark;
    }
  }

  &--secondary{
    border: 2px solid $grey-blue;
    color: $grey-blue;
    background: $white;
    transition: background 0.2s ease-in-out;

    &:disabled {
      background: $brown-light;
      color: $white;
      cursor: default;
      text-decoration: none;
  
      &:hover {
        text-decoration: none;
      }

    }

    &:hover {
      color: $grey-blue;
      text-decoration: none;
      background: $grey-xlight;

    }
  }

  &--tertiary{
    border: 2px solid $black;
    color: $black;
    background: $white;
    min-width: ($lh * 4 );

    &:disabled {
      border: 2px solid $grey-mid;
      color: $grey-mid;
      cursor: default;
      text-decoration: none;
  
      &:hover {
        color: $grey-mid;
        text-decoration: none;
      }

    }
    
    &:hover {
      color: $black;
      text-decoration: none;
      background: $grey-xlight;
    }
  }

  &--edit{
    border: 2px solid $black;
    color: $black;
    background: $white;
    min-width: 0;
    padding-left: $lh/2;
    padding-right: $lh/2;
    max-height: 5rem;

    &:hover {
      background: $grey-xlight;
      text-decoration: none;
    }
  }

  &--link {
    color: $green-dark;
    text-decoration:underline;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    background: none;
    border: none;
    padding: 0;
    transition: all 0.2s ease-in-out;

     &:hover {
      color: $green-xdark;
       text-decoration: none;
    }
  }

  &--link-block {
    color: $green-dark;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    background: none;
    border: none;
    padding: 9px 0;
    transition: all 0.2s ease-in-out;

     &:hover {
      color: $green-xdark;
       text-decoration: none;
    }
  }

  &--backlink {
    color: $green-dark;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: $lh * 0.5;
    position: relative;
    line-height: $lh;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $green-xdark;
      text-decoration: none;
    }

    &::after {
        position: absolute;
        width: 0.8rem;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        content: '';
        display: block;
        top: 0.8rem;
        left: 0;
        height: 0.8rem;
        transform: rotate(45deg);
    }
  }
}

.empty-button {
  padding: $lh/4 0;
  background: transparent;
  border: none;
  outline: none;
  @include media-breakpoint-up(md) {
    padding: 0;
  }
  &--primary {
    color: $green-dark;
    cursor: pointer;
    font-size: 1.8rem;
    background: none;
    text-decoration: none;
    border: none;

    &:disabled {
      color: $grey-mid;
      cursor: default;
      text-decoration: none;
  
      &:hover {
        text-decoration: none;
        color: $grey-mid;
        cursor: default;
      }

    }

    &:hover {
      color: $green-xdark;
      text-decoration: none;
    }

    &--save {
      font-weight: bold;
    }

    &--delete {
      color: $red;
      &:hover {
        color: $red-xdark;
      }

    }


  }

}