{% extends "core/yp/base.html" %}
{% load lw_tags %}
{% block content %}

{% if user|is_personal_advisor or user|is_manager %}
  <p>Hello {{request.user.first_name}}! Check in with {{yp.user.first_name}}.</p>
{% elif user|is_young_person %}
  <p>Hello {{yp.user.first_name}}! Check in.</p>
{% endif %}
  

<!--Select checklist to view.--> 
<h2>Checklist</h2>
{% for checklist in checklist %}
<div class="container py-3">
    <h3>{{checklist.title}}</h3>
    <form action="{% url 'checklist_questions' yp.id checklist.id %}">
        <button class="btn btn-primary">Start</button>
    </form>
</div>
{% endfor %}

{% endblock content %}

