{% extends "core/yp/base.html" %}
{% load lw_tags %}
{% load material_form %}
{% block content %}

{% if user|is_personal_advisor or user|is_manager %}
  <p>Hello {{request.user.first_name}}! This is where you can update {{yp.user.first_name}}'s checklist.</p>
{% elif user|is_young_person %}
  <p>Hello {{yp.user.first_name}}! This is where you can update your {{checklist.title}} checklist.</p>
{% endif %}

<!--View checklist questions.--> 
<div class="container py-5">
	<form method="POST">
    {% csrf_token %}
		{% form form=form %}{% endform %}                  
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>


  <a href="{% url 'checklist' yp.id %}" class="btn btn-primary">Back</a>
</div>

{% endblock content %}
