{% extends "core/yp/base.html" %}
{% load lw_tags %}

{% block content %}
  <p>Hello {{user.first_name}}! This is where you can add {% if user|is_personal_advisor or user|is_manager %}{{yp.user.first_name}} {{yp.user.last_name}}'s{% endif %} goals.</p>

<!--Add goals.--> 
<h2>Add a new goal</h2>
<div class="container py-5">
	<form method="POST">
        {% csrf_token %}
		{{ goal_form }}                    
		<button class="btn btn-primary" type="submit">Add goal</button>
	</form>

    {% if user|is_young_person %}
    <form action="{% url 'goals' %}">
        <button class="btn btn-primary">Cancel</button>
    </form>
    {% endif %}

    {% if user|is_personal_advisor or user|is_manager %}
    <form action="{% url 'yp_goals' yp.id %}">
        <button class="btn btn-primary">Cancel</button>
    </form>
    {% endif %}
</div>
<br>

{% endblock content %}

