.auth-page {
  background: $green;
  height: 100vh;
}

.auth-container {
  background: white;
  @include drop-shadow();
  @include rounded-corners(3px);
  @include media-breakpoint-up(sm) {
    @include rounded-corners(3px);
  }

  &__toggle-password {
    text-align: right;
  }
}