$black : #000;
$brown-dark: #523517;
$brown: #6a4d30;
$brown-light: rgba(106, 77, 48, 0.38);
$green-light: #A5E9D2;
$green : #56d7aa;
$green-dark: #138167;
$green-xdark: #155c4c;
$grey-red: #4a4a4a;
$grey-blue: #343742;
$grey-xdark : #18202c;
$grey-dark : #595959;
$grey-mid : #989898;
$grey-midlight: #dcdcdc;
$grey-light: #e4e4e4;
$grey-xlight: #efefef;
$grey-xxlight: #f8f8f8;
$pink : #ff8b8b;
$yellow : #fff3b8;
$yellow-dark :#ffdd9d;
$red: #cf0e0e;
$red-dark: #B90B0B;
$red-xdark: rgb(128, 20, 20);

$white : #fff;

$colours: (
  'black' : $black,
  'brown' : $brown,
  'brown-light' : $brown-light,
  'green' : $green,
  'green-light' : $green-light,
  'green-dark': $green-dark,
  'green-xdark': $green-xdark,
  'grey-xdark' : $grey-xdark,
  'grey-dark' : $grey-dark,
  'grey-mid' : $grey-mid,
  'grey-midlight' : $grey-midlight,
  'grey-light' : $grey-light,
  'grey-xlight' : $grey-xlight,
  'grey-xxlight': $grey-xxlight,
  'pink' : $pink,
  'red' :  $red,
  'red-xdark': $red-xdark,
  'white' : $white,
  'yellow' : $yellow,
  'yellow-dark' : $yellow-dark
);

$profile-colours: "ff83ce", "e91d63", "673ab7", "0d00ff", "01a9f4", "86daff",
"A1F0EA", "03c9b8", "4caf4f", "cddc39", "fff27f", "ffeb3b", "ffc108", "ff4400", "ae0602", "ff0202", "ff9263", "b7623d", "8c8c8c", "191919";