@mixin letter-spacing($x) {
  letter-spacing: unquote(($x/1000)+'em');
}

@mixin vertical-align() {
  display: inline-block;
  transform: translateY(50%);
}

@mixin rounded-corners($x) {
  border-radius: $x;
}

@mixin drop-shadow() {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

@mixin drop-shadow-box() {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 0px 0 rgba(0, 0, 0, 0.2);
}