.survey-banner {
  width: 100%;
  background: $brown;
  position: relative;

  @include media-breakpoint-down(sm) {
      top: 46px;
      height: 190px;
    }

  h4 {
    color: $white;
  }

  p {
    color: $white;
  }

  a {
    text-decoration: underline;
    color: $white;
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;

    svg {
      path {
        fill: white
      }
    }
  }
}