.badge {
  position: relative;
  display: inline-flex;
  margin: .9rem $lh/2 0 0 ;
  background: $grey-light;
  color: $black;
  padding: 0 $lh/2;
  border-radius: 1.8rem;
  &--self-delete {
    padding: 0 .3rem 0 $lh/2;
  }
  &__label {
    display: block;
    font-size: 1.8rem;
    text-transform: capitalize;
    line-height: 3rem;
  }
  &__remove-btn {
    cursor: pointer;
    display: block;
    font-size: $lh;
    font-weight: 500;
    color: $grey-mid;
    width: 3rem;
    line-height: 3rem;
    transition: transform 0.2s ease,color .2s ease;
    transform-origin: center center;
    //background: red;
    text-align: center;
    &:hover {
      color: $grey-dark;
      //transform: translateY(-50%) //rotateZ(90deg);
      //transform: rotateZ(90deg);
    }
  }
}