.box-radio-question {
  input {
    display: none;

    &:disabled {
      cursor: default;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

  }
    &__box {
      border: 2px solid black;
      display: table-cell;
      vertical-align: middle;
      cursor: pointer;
      text-align: center;
      font-weight: 600;
      height: 12rem;
      width: 12rem;

      @include media-breakpoint-down(sm) {
        width: 9rem !important;
        height: 9rem !important;
      }

      &__disabled {
        cursor: default;
        text-decoration: none;
      }

    }
    
    input:checked + .box-radio-question__box {
      background-color: $green;
      border-color: black;
    }
  }
  
  