.form-element {
  display: block;
  padding-bottom: $lh*.5;
  margin-bottom: 0;
  @include media-breakpoint-up(md) {
    padding-bottom: $lh;
  }
  &__label {
    display: block;
    font-size: 1.6rem;
    line-height: $lh;
    font-weight: 300;
  }
  &__toggle-show-password {
    cursor: pointer;
    position: absolute;
    bottom: 3.1rem;
    right: 0;
    @include media-breakpoint-up(sm) {
      bottom: 3.7rem;
    }
  }
}