.text-field--basic {
  position: relative;

  &__toggle {
    position: absolute;
    cursor: pointer;
    top: 1px;
    right: 14px;
    width: 30px;
    height: 20px;
    display: block;

    svg {
      width: 100%;
      top: 0;
      position: absolute;
    }
  }
}

.text-field__input--basic {
    border: 2px solid $black;
    left: 0px;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: $lh/2;

    outline: none; //alert alert - deliberate removal of accessibility feature. We should discuss this...


    &:focus{
     border: 2px solid $green;
    }
  }