<footer>
    <div class="row">
        <div class="col-md-6"><p class="b-500">© Leaving Well 2021</p></div>
        <div class="col-md-6">
            <nav>
                <ul>
                    <li><a href="/terms-and-conditions">Privacy policy and terms and conditions</a></li>
                    <li>
                        <a href="mailto:contact.leavingwell@socialfinance.org.uk?subject=Contact from Leaving Well App">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>