.box-w-drop-shadow {
  padding: $lh 1.5*$lh;
  margin-bottom: 2*$lh;
  border-top: .4rem solid #999;
  margin-top: -.4rem;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  &--edit {
    border-top: .4rem solid $green;
  }
  @include media-breakpoint-down(md) {
    padding-left: $lh/2;
    padding-right: $lh/2;
  }
}