.worker-info{

    &__box {
        border-top: 1.2rem solid $grey-light;
    }

    &__item {
        border-bottom: 1px solid #989898
    }

    &__name {
        text-transform: capitalize
    }

    &__email {
      font-weight: 600
  }

    &__link {
        list-style: none;
        a {
          font-weight: 400;
          color: $green-dark;
          text-decoration: underline;
          display: block;
          line-height: $lh;
          transition: color .25s ease;
          &:hover {
            color: $green;
          }
        }
      }
}