{% extends "core/pa/base.html" %}
{% load lw_tags %}
{% block content %}

  <p><button><a href="{% url 'invite' %}">Invite a young person</a></button></p>
  <p>Hello {{pa.user.first_name}}! This is where all the young people will land.</p>

  {% if user|is_manager %}
    {% for pa in pa %}
      {% for yp in pa.young_persons.all %}
      <li><a href="{% url 'yp_index' yp.id %}">{{yp.user.first_name}} {{yp.user.last_name}}</a></li>
      {% endfor %}
    {% endfor %}
  {% elif user|is_personal_advisor %}
    {% for yp in pa.young_persons.all %}
    <li><a href="{% url 'yp_index' yp.id %}">{{yp.user.first_name}} {{yp.user.last_name}}</a></li>
    {% endfor %}
  {% endif %}
{% endblock content %}